/*.footer__container {*/
/*    display: flex;*/
/*}*/

.footer {
    padding-top: 110px;
    padding-bottom:  35px;
}

.footer__container {
    text-align: center;
}

.footer__nav {
    display: flex;
justify-content: center;
    text-align: center;
border-bottom: 1px solid #000000 ;
    padding-bottom: 35px;
}

.footer__list{
display: flex;
    gap: 80px;
}

.footer__social-media {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap:25px;
    margin-bottom: 75px;
}

.footer__terms {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
}