@font-face {
    font-family: Gilroy;
    font-display: swap;
    font-weight: 300;
    src: url("fonts/Gilroy-UltraLight.woff2") format('woff2');
}

@font-face {
    font-family: Gilroy;
    font-display: swap;
    font-weight: 400;
    src: url("fonts/Gilroy-Thin.woff2") format('woff2');
}

@font-face {
    font-family: Gilroy;
    font-display: swap;
    font-weight: 600;
    src: url("fonts/Gilroy-Regular.woff2") format('woff2');
}


@font-face {
    font-family: Gilroy;
    font-display: swap;
    font-weight: 700;
    src: url("fonts/Gilroy-Bold.woff2") format('woff2');
}


@font-face {
    font-family: Gilroy;
    font-display: swap;
    font-weight: 900;
    src: url("fonts/Gilroy-Extrabold.woff2") format('woff2');
}


@font-face {
    font-family: HomemadeApple;
    font-display: swap;
    font-weight: 100;
    src: url("fonts/HomemadeApple-Regular.woff2") format('woff2');
}


body {
    font-family: Gilroy, sans-serif;
}

.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

header {
    padding-top: 38px;
    padding-bottom: 40px;

}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul {
    display: flex;
    gap: 30px;
}

.find-a-gift {
    padding-top: 70px;
    padding-bottom: 130px;
    background-color: #F1F1F2;
}

.find-a-gift > div {
    display: flex;
    justify-content: space-between;
}

.find-a-gift img {
    width: 570px;
}

.find-a-gift-wrapper {
    width: 440px;
}

.find-a-gift > div:first-of-type {
    padding-bottom: 75px;
}

.find-a-gift > div:last-of-type {
    align-items: center;
}

.gifts-occasions {
    padding-top: 130px;
    padding-bottom: 100px;
}

.gifts-occasions ul {
    display: flex;
    justify-content: space-between;
}

.gifts-occasions li {
    width: 270px;
    background-color: #FAFAFA;
}

.gifts-occasions li > img {
    width: 100%;
}

.gift-cards-text {
    padding: 24px;
    min-height: 166px;
    display: flex;
    flex-direction: column;
}

.gift-cards-text h3 {
    flex-grow: 1;
}

.get-started {
    background-color: #F7941E;
    padding-top: 81px;
    padding-bottom: 70px;
}

.get-started-wrapper {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.best-blogs {
    padding-bottom: 90px;
    padding-top: 88px;
}

.best-blogs ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;

}

.main-card {
    background-color: #231F20;
    display: flex;
    color: white;
    align-items: center;
    width: 100%;
    gap: 100px;
}

.main-card img {
    width: 400px;
}

.database-card {
    width: 48%;
    padding: 48px 48px 50px;
}
